FREE_PROXY_ENVIRONMENT=production
FREE_PROXY_DATA_DIR=/var/lib/free-proxy
FREE_PROXY_WEB_HOST=127.0.0.1
FREE_PROXY_WEB_PORT=8787
FREE_PROXY_PROXY_HOST=127.0.0.1
FREE_PROXY_PROXY_PORT=9527
FREE_PROXY_PROXY_ENABLED=true
FREE_PROXY_MAINTENANCE_ENABLED=true
FREE_PROXY_DNS_REPAIR_ENABLED=false
FREE_PROXY_UPSTREAM_DIRECT_FALLBACK=true
